<div class="{{class}}">
  <div class="box box-widget widget-user">
    <div class="widget-user-header {{bg}}">
      <h3 class="widget-user-username">{{title}}</h3>
      <h5 class="widget-user-desc">{{name}}</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle bordernone" src="{{img}}">
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12">
          <div class="description-block">
            <span class="description-header">Fully OpenSource</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>