<div class="{{class}}">
  <div class="box box-widget widget-user">
    <div class="widget-user-header {{bg}}" style="background: url('{{img}}');"></div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12">
          <div class="description-block">
            <h5 class="description-header">{{title}}</h5>
            <span class="description-text">{{desc}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>