<header class="main-header">
    <!-- Logo -->
    <a href="{{path('homepage')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{{asset('asset/img/logo32.png')}}"/></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="{{asset('asset/img/logo.png')}}"/></span>
    </a>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      {% if 'dashboard' in  app.request.pathInfo %}
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      {% endif %}
      <div class="navbar-custom-menu-left">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pricing</a></li>
          <li class="hidden-xs hidden-sm"><a href="#">Community</a></li>
          <li class="hidden-sm"><a href="#">Blog</a></li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li><a href="{{path('dashboard')}}">Dashboard</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="user-menu">
            <a href="{{path('myaccount')}}">
              <img src="{{app.user.avatar}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{% if app.user.name is empty %}{{app.user.username}}{% else %}{{app.user.name}}{% endif %}</span>
            </a>
          </li>
          <li class="user-menu">
            <a href="{{path('logout')}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </li>
          {% else %}
          <li class="user-menu">
            <a href="{{path('login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
</header>