{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% block body %}
<div class="col-md-12">
  <section class="page-content-header">
    <h1><i class="fa fa-list"></i> Available Open Source for Installation</h1>
  </section>
</div>
{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-light-blue',
'title':'Develop CMS Projects',
'name':'Drupal',
'img':asset('asset/img/icons/drupal-110.png'),
'desc':'Available Drupal Installer',
'project_btn_color_1':'btn-primary',
'project_folder_1':'drupal-8.1.7',
'project_source_1':'drupal-8.1.7.tar.gz',
'project_title_1':'Install Drupal 8.1.7',
'project_btn_color_2':'btn-info',
'project_folder_2':'drupal-7.50',
'project_source_2':'drupal-7.50.tar.gz',
'project_title_2':'Install Drupal 7.50'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-olive',
'title':'Develop CMS Projects',
'name':'Joomla',
'img':asset('asset/img/icons/joomla-110.png'),
'desc':'Available Joomla Installer',
'project_btn_color_1':'btn-success',
'project_folder_1':'joomla',
'project_source_1':'joomla-3.6.0.tar.gz',
'project_title_1':'Install Joomla 3.6.0'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-teal',
'title':'Develop Blogging Projects',
'name':'Wordpress',
'img':asset('asset/img/icons/wp-110.png'),
'desc':'Available Wordpress Installer',
'project_btn_color_1':'btn-info',
'project_folder_1':'wordpress',
'project_source_1':'wordpress-4.5.3.tar.gz',
'project_title_1':'Install Wordpress 4.5.3'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-green',
'title':'Shopping Cart Projects',
'name':'Magento',
'img':asset('asset/img/icons/magento-110.png'),
'desc':'Magento may take 10+ minutes to install',
'project_btn_color_1':'btn-primary',
'project_folder_1':'magento-2.1',
'project_source_1':'magento-2.1.tar.gz',
'project_title_1':'Install Magento 2.1',
'project_btn_color_2':'btn-info',
'project_folder_2':'magento-data-2.1',
'project_source_2':'magento-data-2.1.tar.gz',
'project_title_2':'Install Magento 2.1 with demo data'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-fuchsia',
'title':'Bulletin Board Projects',
'name':'phpBB',
'img':asset('asset/img/icons/phpbb-110.png'),
'desc':'Available phpBB Installer',
'project_btn_color_1':'btn-primary',
'project_folder_1':'phpbb',
'project_source_1':'phpbb-3.1.9.tar.gz',
'project_title_1':'Install phpBB 3.1.9'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-maroon',
'title':'Develop eLearning Projects',
'name':'Moodle',
'img':asset('asset/img/icons/moodle-110.png'),
'desc':'Available Moodle Installer',
'project_btn_color_1':'btn-danger',
'project_folder_1':'moodle-3.1.1',
'project_source_1':'moodle-3.1.1.tar.gz',
'project_title_1':'Install Moodle 3.1.1'
})}}
<div class="col-md-12">
  <section class="page-content-header">
    <h1><i class="fa fa-list"></i> Available Framework for Installation</h1>
  </section>
</div>
{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-purple',
'title':'Develop Framework Projects',
'name':'Symfony',
'img':asset('asset/img/icons/sf.png'),
'desc':'Available Symfony Installer',
'project_btn_color_1':'btn-primary',
'project_folder_1':'symfony-3.1.2',
'project_source_1':'symfony-3.1.2.tar.gz',
'project_title_1':'Install Symfony 3.1.2'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-red',
'title':'Develop Framework Projects',
'name':'CakePHP',
'img':asset('asset/img/icons/cakephp.jpg'),
'desc':'Available CakePHP Installer',
'project_btn_color_1':'btn-danger',
'project_folder_1':'cakephp-3.2.12',
'project_source_1':'cakephp-3.2.12.tar.gz',
'project_title_1':'Install CakePHP 3.2.12'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-orange',
'title':'Develop Framework Projects',
'name':'CodeIgniter',
'img':asset('asset/img/icons/codeigniter.png'),
'desc':'Available CodeIgniter Installer',
'project_btn_color_1':'btn-warning',
'project_folder_1':'CodeIgniter-3.1.0',
'project_source_1':'CodeIgniter-3.1.0.tar.gz',
'project_title_1':'Install CodeIgniter 3.1.0'
})}}

{{include('elements/installapps.html.twig',{
'class':'col-md-4',
'bg':'bg-olive',
'title':'Develop Framework Projects',
'name':'Zend Framework',
'img':asset('asset/img/icons/zf-logo-mark.png'),
'desc':'Available Zend Installer',
'project_btn_color_1':'btn-success',
'project_folder_1':'ZendFramework-2.4.9',
'project_source_1':'ZendFramework-2.4.9.tgz',
'project_title_1':'Install Zend Framework 2.4.9'
})}}
<div class="modal modal-primary fade" id="siteinstall">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Site</h4>
      </div>
      {{ form_start(form) }}
      <div class="modal-body">
        {{ form_row(form.category) }}
        {{ form_row(form.targetUrl) }}
        {{ form_row(form.name, {'attr': {'placeholder': 'My Awesome Site'} }) }}
        <label for="domain">Default Project URL</label>
        <div class="input-group">
          <span class="input-group-addon">dev-</span>
          <input type="text" class="form-control" id="fulldomain" name="projects[fulldomain]" disabled="disabled">
          <span class="input-group-addon">-{{app.user.username}}.phplake.com</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning" id="siteinstall_build">Create Site</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
  $('#fulldomain').val($('#projects_name').val());
  $('.project').click(function(){
    $('#projects_category').val($(this).attr('data-value'));
    $('#projects_targetUrl').val($(this).attr('data-url'));
  });
  $('#projects_name').keyup(function(){
    $('#fulldomain').val($(this).val());
  });
  $('#siteinstall_build').click(function(){
    if ($('#projects_name').val()) {
      $('#siteinstall').modal('toggle');
      $.blockUI({
        message: '<h4><i class="fa fa-refresh fa-spin"></i> Please wait. This might take few minutes to complete.</h4>', 
        css: {'width': '500px'}
      });
    }
  });
  {% if form.vars.valid == false %}
  $('#siteinstall').modal('toggle');
  {% endif %}
});
</script>
{% endblock %}