{% extends 'base.html.twig' %}
{% block body %}
<div id="carousel-example-generic" class="carousel slide bg-slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1 class="center">Your development environment, in the cloud</h1>
      <h3 class="center">Phplakes combines a powerful online code editor with a full managed workspace in our managed cloud server.</h2>
      <img src="{{asset('asset/img/idea-1080.png')}}"/>
    </div>
    <div class="item">
      <h1 class="center">Smarter Development plugins in one place</h1>
      <h3 class="center">Phplake supports almost all development tools like Github, Compass for SASS, Less and many more.</h3>
      <img src="{{asset('asset/img/ideb-1080.png')}}"/>
    </div>
    <div class="item">
      <h1 class="center">Work together, web development was never so easy</h1>
      <h3 class="center">Awesome collaboration support with multiple users. Chat with developers or do direct audio call with your headphone.</h3>
      <img src="{{asset('asset/img/idec-1080.png')}}"/>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="col-md-12" id="applications">
  <h1 class="center">All PHP open source applications in one place</h1>
  <h3 class="center">Powerfull workspace, Allmost all popular php aplications is readily available here.</h2>
  <hr class="stylish">
  <div class="mysection">
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop PHP Projects','name':'PHP 5.6','bg':'bg-red','img':asset('asset/img/icons/php-128.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop CMS Projects','name':'Drupal','bg':'bg-light-blue','img':asset('asset/img/icons/drupal-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop CMS Projects','name':'Joomla','bg':'bg-navy','img':asset('asset/img/icons/joomla-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop Blogging Projects','name':'Wordpress','bg':'bg-blue','img':asset('asset/img/icons/wp-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop Framework Projects','name':'Symfony','bg':'bg-teal','img':asset('asset/img/icons/sf.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Develop eLearning Projects','name':'Moodle','bg':'bg-olive','img':asset('asset/img/icons/moodle-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Shopping Cart Projects','name':'Magento','bg':'bg-orange','img':asset('asset/img/icons/magento-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Bulletin Board Projects','name':'phpBB','bg':'bg-fuchsia','img':asset('asset/img/icons/phpbb-110.png')})}}
    {{include('elements/apps.html.twig',{'class':'col-md-4','title':'Marketing Automation','name':'Mautic','bg':'bg-purple','img':asset('asset/img/icons/mautic-110.png')})}}
  </div>
</div>
<div class="col-md-12" id="features">
  <h1 class="center">Awsome Features</h1>
  <hr class="stylish">
  <div class="mysection">
    {{include('elements/featureapps.html.twig',{'class':'col-md-3','title':'Built-in Terminal','desc':'Run any command on your workspace. Currently disabled for all account.','bg':'bg-black','img':asset('asset/img/febox1.png')})}}
    {{include('elements/featureapps.html.twig',{'class':'col-md-3','title':'Collaboration','desc':'Work together in your workspace. Invite developer in your project. Instant chat and many more.','bg':'bg-black','img':asset('asset/img/febox2.png')})}}
    {{include('elements/featureapps.html.twig',{'class':'col-md-3','title':'Auto Allignment','desc':'This is a plugin for the Phplake IDE. It adds an ability to improve the code style for a better readability.','bg':'bg-black','img':asset('asset/img/febox3.png')})}}
    {{include('elements/featureapps.html.twig',{'class':'col-md-3','title':'Git Integration','desc':'Complete Git integration in Phplake IDE. No required any terminal to execute Git.','bg':'bg-black','img':asset('asset/img/febox4.png')})}}
  </div>
</div>
<div class="col-md-12" id="pricing">
  <h1 class="center">Pricing Guide</h1>
  <h3 class="center">Your entire development workflow - all in our managed server</h2>
  <hr class="stylish">
  <div class='pricing'>
    <div class="col-md-4">
      <div class='package'>
        <div class='name'>Free</div>
        <div class='price'>$0.00</div>
        <div class='trial'>Always Free</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev Environment</li>
          <li><strong>1</strong> Online IDE for Development</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class='package brilliant'>
        <div class='name'>Individual</div>
        <div class='price'>$10</div>
        <div class='trial'>Pay per project</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev,Stage and Prod Environment</li>
          <li><strong>1</strong> Custom Domian</li>
          <li><strong>1</strong> Online IDE for Development</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class='package'>
        <div class='name'>Partner</div>
        <div class='pricem'>$500</div>
        <div class='trial'>Pay for account</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev,Stage and Prod Environment</li>
          <li><strong>1</strong> Custom Domian</li>
          <li><strong>1</strong> Online IDE for Development</li>
          <li><strong>Revenue</strong> Sharing</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}