{% extends 'base.html.twig' %}
{% block body %}
<div id="carousel-example-generic" class="carousel slide bg-common" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1 class="center">Your development environment, in the cloud</h1>
      <h3 class="center">Phplakes combines a powerful online code editor with a full managed workspace in our managed cloud server.</h2>
      <img src="{{asset('asset/img/phplakeide.png')}}"/>
    </div>
    <div class="item">
      <h1 class="center">Smarter Development plugins in one place</h1>
      <h3 class="center">Phplake supports almost all development tools like Github, Compass for SASS, Less and many more.</h3>
      <img src="{{asset('asset/img/phplakeideplugins.png')}}"/>
    </div>
    <div class="item">
      <h1 class="center">Work together, web development was never so easy</h1>
      <h3 class="center">Awesome collaboration support with multiple users. Chat with developers or do direct audio call with your headphone.</h3>
      <img src="{{asset('asset/img/phplaketogether.png')}}"/>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="col-md-12">
  <h1 class="center">All PHP open source applications in one place</h1>
  <h3 class="center">Powerfull workspace, Allmost all popular php aplications is readily available here.</h2>
  <hr class="stylish">
  <div class="mysection">
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
          <div class="widget-user-header bg-aqua">
            <div class="widget-user-image">
              <img class="img-circle" src="{{asset('asset/img/drupal-64.png')}}" alt="User Avatar">
            </div>
            <h3 class="widget-user-username">Drupal</h3>
            <h5 class="widget-user-desc">Content Management System</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="">Drupal is content management software. It's used to make many of the websites and applications you use every day.</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
          <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
              <img class="img-circle" src="{{asset('asset/img/sf.png')}}" alt="User Avatar">
            </div>
            <h3 class="widget-user-username">Symfony</h3>
            <h5 class="widget-user-desc">Popular Framework</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="">Symfony is a set of PHP Components,a Web Application framework,Philosophy,and a Community all working together.</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
          <div class="widget-user-header bg-navy">
            <div class="widget-user-image">
              <img class="img-circle" src="{{asset('asset/img/wp.png')}}" alt="User Avatar">
            </div>
            <h3 class="widget-user-username">WordPress</h3>
            <h5 class="widget-user-desc">Blogging CMS</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="">WordPress is currently the fastest growing CMS software. Main functionality was to allow easy blog experience.</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <h1 class="center">All PHP open source applications in one place</h1>
  <h3 class="center">Powerfull workspace, Allmost all popular php aplications is readily available here.</h2>
  <hr class="stylish">
  <div class='pricing'>
    <div class="col-md-4">
      <div class='package'>
        <div class='name'>Free</div>
        <div class='price'>$0.00</div>
        <div class='trial'>Always Free</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev/Stage/Prod. Build your own projects on Phplake.com and invite collaborators to join you to develop together.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class='package brilliant'>
        <div class='name'>Individual</div>
        <div class='price'>$10</div>
        <div class='trial'>Pay per project</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev/Stage/Prod</li>
          <li><strong>1</strong> Custom Domian</li>
          <li><strong>1</strong> Online IDE for Development</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class='package'>
        <div class='name'>Partner</div>
        <div class='pricem'>$450</div>
        <div class='trial'>Pay for account</div>
        <hr>
        <ul>
          <li><strong>1</strong> Workspace with Dev/Stage/Prod</li>
          <li><strong>1</strong> Custom Domian</li>
          <li><strong>1</strong> Online IDE for Development</li>
          <li><strong>Possibilities</strong> to Earn</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}