{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#dev" data-toggle="tab" aria-expanded="true">Dev</a></li>
      <li class=""><a href="#stage" data-toggle="tab" aria-expanded="false">Stage</a></li>
      <li><a href="#prod" data-toggle="tab" aria-expanded="false">Prod</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="dev">
        <div><b>Dev URL:</b> {{dev.domain}}</div>
        <div><strong>Database:</strong></div>
        <div><strong>Database Password:</strong></div>
      </div>
      <div class="tab-pane" id="stage">
        {% if stage.id is defined %}
        <div><b>Stage URL:</b> {{stage.domain}}</div>
        <div><strong>Database:</strong></div>
        <div><strong>Database Password:</strong></div>
        {% if prod.id is not defined %}
        <div><a href="{{path('env_delete',{'id':stage.id})}}" class="btn btn-danger">Delete</a></div>
        {% endif %}
        {% else %}
        <div class="center" align="center">
          <img src="{{asset('asset/img/stage.png')}}"/>
          <h3>Validate your changes by creating your Stage environment.</h3>
          <p>Creating the Test Environment will clone the Dev environment’s code. Use the Test environment to review your changes. When you’re done, create your Live environment and deploy your changes to start the process of taking your site live.</p>
          <a href="{{path('myproject_create_stage',{'id':dev.pid})}}" class="btn btn-warning">Create Stage Environment</a>
          <p></p>
        </div>
        {% endif %}
      </div>
      <div class="tab-pane" id="prod">
        {% if prod.id is defined %}
        <div><b>Production URL:</b> {{prod.domain}}</div>
        <div><strong>Database:</strong></div>
        <div><strong>Database Password:</strong></div>
        <div><a href="{{path('env_delete',{'id':prod.id})}}" class="btn btn-danger">Delete</a></div>
        {% elseif stage.id is defined %}
        <div class="center" align="center">
          <img src="{{asset('asset/img/prod.png')}}"/>
          <h3>Create your Live environment and deploy to your site.</h3>
          <p>Creating the Live environment will clone the entire Test environment and deploy it to your live site. When you're ready to take your site live, choose a paid plan then use the Domains tool in the Live environment to add your domain (www.example.com).</p>
          <a href="{{path('myproject_create_prod',{'id':dev.pid})}}" class="btn btn-success">Create Live Environment</a>
          <p></p>
        </div>
        {% else %}
        <div class="center" align="center">
          <h3>The Stage environment must be created first before you can create the Live environment.</h3>
          <a href="{{path('myproject_create_stage',{'id':dev.pid})}}" class="btn btn-warning">Create Stage Environment</a>
          <p></p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}