{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-3">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Project Details</h3>
    </div>
    <div class="box-body">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b><i class="fa fa-shield" aria-hidden="true"></i> Name</b> <a class="pull-right">{{project.name}}</a>
        </li>
        <li class="list-group-item">
          <b><i class="fa fa-adjust"></i> Category</b> <a class="pull-right">{{project.category}}</a>
        </li>
      </ul>
      <strong><i class="fa fa-indent"></i> Online IDE</strong><small class="label pull-right bg-green">Most Popular</small>
      <p class="text-muted"><a href="http://{{project.owner.ide}}" target="_blank">http://{{project.owner.ide}}</a></p>
      <strong><i class="fa fa-cube"></i> IDE Password</strong>
      <p class="text-muted"><span class="badge bg-light-blue">{{project.owner.idepass}}</span></p>
      <hr>
      <strong><i class="fa fa-database"></i> phpMyAdmin Database</strong>
      <p class="text-muted"><a href="http://dbphpmyadmin.phplake.com" target="_blank">http://dbphpmyadmin.phplake.com</a></p>
      <hr>
      <strong><i class="fa fa-crop"></i> Environemnt</strong>
      {% if project.sites|length > 0 %}
      {% for site in project.sites %}<h6><a href="http://{{site.domain}}" target="_blank">http://{{site.domain}}</a></h6>{% endfor %}
      {% else %}
      No sites found yet
      {% endif %}
      <hr>
      <strong><i class="fa fa-bell"></i> Danger Zone</strong>
      <p class="text-muted">Be carefull. It will erase all of your environment including this project.</p>
      <a href="{{path('myproject_delete', {'id':project.id})}}" class="btn btn-danger btn-block wait"><b>Delete</b></a>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#dev" data-toggle="tab" aria-expanded="true">Dev</a></li>
      <li><a href="#stage" data-toggle="tab" aria-expanded="false">Stage</a></li>
      <li><a href="#prod" data-toggle="tab" aria-expanded="false">Prod</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active table-responsive no-padding" id="dev">
        <table class="table table-hover">
          <tbody><tr>
            <th>Type</th>
            <th>Database</th>
            <th>Database User</th>
            <th>Database Password</th>
          </tr>
          <tr>
            <td><a href="http://{{dev.domain}}" target="_blank">http://{{dev.domain}}</a></td>
            <td><span class="badge bg-light-blue">{{dev.db}}</span></td>
            <td><span class="badge bg-green">{{dev.dbuser}}</span></td>
            <td><span class="badge bg-yellow">{{dev.dbpass}}</span></td>
          </tr>
        </tbody></table>
      </div>
      <div class="tab-pane table-responsive no-padding" id="stage">
        {% if stage|length > 0 %}
        <table class="table table-hover">
          <tbody><tr>
            <th>Type</th>
            <th>Database</th>
            <th>Database User</th>
            <th>Database Password</th>
          </tr>
          <tr>
            <td><a href="http://{{stage.domain}}" target="_blank">http://{{stage.domain}}</a></td>
            <td><span class="badge bg-light-blue">{{stage.db}}</span></td>
            <td><span class="badge bg-green">{{stage.dbuser}}</span></td>
            <td><span class="badge bg-yellow">{{stage.dbpass}}</span></td>
          </tr>
        </tbody></table>
        {% else %}
        <div class="center" align="center">
          <img src="{{asset('asset/img/stage.png')}}"/>
          <h3>Validate your changes by creating your Stage environment.</h3>
          <p>Creating the Stage Environment will clone the Dev environment’s code. Use the Stage environment to review your changes. When you’re done, create your Production environment and deploy your changes to start the process of taking your site live.</p>
          <a href="{{path('myproject_create_stage',{'id':dev.pid})}}" class="btn btn-warning wait">Create Stage Environment</a>
          <p></p>
        </div>
        {% endif %}
      </div>
      <div class="tab-pane table-responsive no-padding" id="prod">
        {% if prod|length > 0 %}
        <table class="table table-hover">
          <tbody><tr>
            <th>Type</th>
            <th>Database</th>
            <th>Database User</th>
            <th>Database Password</th>
          </tr>
          <tr>
            <td><a href="http://{{prod.domain}}" target="_blank">http://{{prod.domain}}</a></td>
            <td><span class="badge bg-light-blue">{{prod.db}}</span></td>
            <td><span class="badge bg-green">{{prod.dbuser}}</span></td>
            <td><span class="badge bg-yellow">{{prod.dbpass}}</span></td>
          </tr>
        </tbody></table>
        {% elseif stage|length > 0 %}
        <div class="center" align="center">
          <img src="{{asset('asset/img/prod.png')}}"/>
          <h3>Create your Live environment and deploy to your site.</h3>
          <p>Creating the Live environment will clone the entire Test environment and deploy it to your live site. When you're ready to take your site live, choose a paid plan then use the Domains tool in the Live environment to add your domain (www.example.com).</p>
          <a href="{{path('myproject_create_prod',{'id':dev.pid})}}" class="btn btn-success wait">Create Live Environment</a>
          <p></p>
        </div>
        {% else %}
        <div class="center" align="center">
          <h3>The Stage environment must be created first before you can create the Prod environment.</h3>
          <a href="{{path('myproject_create_stage',{'id':dev.pid})}}" class="btn btn-warning wait">Create Stage Environment</a>
          <p></p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}