{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}
{% form_theme passform 'fields.html.twig' %}
{% block body %}
<div class="col-md-3">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="{{user.avatar}}" alt="User profile picture">
      <h3 class="profile-username text-center">{% if app.user.name is empty %}{{app.user.username}}{% else %}{{app.user.name}}{% endif %}</h3>
      <p class="text-muted text-center">Software Engineer</p>
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Subscription Type</b> <a class="pull-right"><span class="label label-primary">Free</span></a>
        </li>
        <li class="list-group-item">
          <b>Project Limit</b> <a class="pull-right"><span class="label label-warning">1</span></a>
        </li>
      </ul>
      <b><i class="fa fa-indent"></i> Online IDE</b><small class="label pull-right bg-green">Most Popular</small>
      <p class="text-muted"><a href="http://{{app.user.ide}}" target="_blank">http://{{app.user.ide}}</a></p>
      <b><i class="fa fa-cube"></i> IDE Password</b>
      <p class="text-muted"><span class="badge bg-light-blue">{{app.user.idepass}}</span></p>
      <hr>
      <b><i class="fa fa-database"></i> phpMyAdmin Database</b>
      <p class="text-muted"><a href="http://dbphpmyadmin.phplake.com" target="_blank">http://dbphpmyadmin.phplake.com</a></p>
      <hr>
      <a href="#" class="btn btn-primary btn-block"><b>Upgrade</b></a>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#account" data-toggle="tab" aria-expanded="true"><i class="fa fa-lock"></i> Account Metadata</a></li>
      <li><a href="#changepass" data-toggle="tab" aria-expanded="false"><i class="fa fa-lock"></i> Change Password</a></li>
      <li><a href="#sshkey" data-toggle="tab" aria-expanded="false"><i class="fa fa-key"></i> SSH Key</a></li>
    </ul>
    <div class="tab-content col-md-12 pl-none pr-none">
      <div class="tab-pane active" id="account">
        <div class="col-md-6">
        {{form_start(passform)}}
        {{form_widget(passform)}}
        <input type="submit" class="btn btn-primary" value="Save"/>
        {{form_end(passform)}}
        </div>
      </div>
      <div class="tab-pane" id="changepass">
        <div class="col-md-6">
        {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" class="btn btn-primary" value="Change Password"/>
        {{form_end(form)}}
        </div>
      </div>
      <div class="tab-pane" id="sshkey">
        <div class="col-md-12">
        Yor ssh key here
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}